# Dependencies
/node_modules
/.pnpm-store

# Next.js build outputs
/.next/
/out/

# Environment files
.env
.env*.local
.env.production

# IDE and OS files
.DS_Store
*.pem
.idea/
*.iml
.vscode/

# Testing & Logs
/coverage/
*.log
npm-debug.log*
